extends layout

block content
  .nav
    h4 #{user.role} : #{user.username}
    a(href="/addNew") Add New
    | &nbsp;
    a(href="/logout") Logout

  .blogs
    each blog in blogs
      .blog
        h3
          a(href='/blog/'+blog._id)
            |#{blog.title}
        h4 #{blog.author}
        h5 #{blog.date}

